* {
    margin: 0%;
    padding: 0%;
}

@media (width <= 576px){
    body{
        background-color: darkgoldenrod;

    }
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'side-bar'
        'search-list'
        'products'
        'footer';
    }
}